@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }

.common-heading{
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 42px;
}

.common-heading hr{
  margin: 10px 0px;
  width: 40%;
  border-width: 2px;
  opacity: 1;
  color: #085291;
}

.section-lg{
    padding: 50px 20px;
}

.section-ptb {
    padding: 130px 0px 130px 0px;
}

.m-auto{
    margin: 0 auto;
}

.section-title-three {
    text-align: center;
    position: relative;
}
.mb--80 {
    margin-bottom: 50px;
}

.common-btn{
  padding: 15px 30px;
  background-color: #085291;
  color: #fff;
  font-weight: 600;
  width: max-content;
  display: flex;
  
}

.common-btn:hover{
  background-color: #fff;
  color: #085291;
  text-decoration: none;
}

/* header css start */

#header{
  position: relative;
}

select#website-select{
  border: none;
  border-radius: 30px;
  padding: 10px 0px;
  }


.upper-header{
    display: flex;
    justify-content: space-between;
    background-color: #085291;
    align-items: center;
    padding: 10px 15px;
}

.logo span{
    font-weight: 600;
    font-size: 22px;
    color: #fff;
    margin-left: 15px;
    font-family: 'Libre Baskerville', sans-serif;
}

.upper-header p{
  margin: 0;
  font-size: 22px;
  font-weight: 700;
}

.upper-right-header{
    display: flex;
    gap: 20px;
}

.upper-right-header a{
    background-color: #ffc600;
    padding: 10px 20px;
    border-radius: 30px;
    color: #085291;
    font-weight: 600;
    transition: all .2s ease-in;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px;
}

.upper-right-header a:hover{
    color: #085291;
    background-color: #fff;
    text-decoration: none;
}

.logo img{
    width: 70px;
}

.footer-logo img{
    width: 150px;
}

.logo{
    display: flex;
    align-items: center;
}

.lower-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #fff;
    color: #085291;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 15px
}

.navigation{
    display: flex;
    align-items: center;
    width: 100%;
  }
  
    ul.nav{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        position: relative;
        padding: 10px 15px;
        justify-content: space-evenly;
        width: 100%;
    }
    
    ul.nav a{
        text-decoration: none;
        padding: 9px 0px;
        cursor: pointer;
        font-weight: 600;
      transition: .3s all ease;
    }
  
    ul.nav li{
      position: relative;
    }

    .nav-li > a::before{
        content: "";
        position: absolute;
        left: -20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 20px;
        height: 20px;
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        opacity: 0;
        transition: all 0.3s linear 0s;
    }

    .nav-li:hover > a::before, .nav-li a.active::before{
        opacity: 1;
        transform: translateY(0);
    }

    .nav-li a.active, .nav-li a:hover{
      color: #f79421;
      font-weight: 700;
    }

  
    ul.nav li:hover .dropdown {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      /* transform: translateY(10px); */
    }
    
    ul.nav li .dropdown{
      visibility: hidden;
      opacity: 0;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      left: 0;
      top: 161%;
      visibility: hidden;
      z-index: 10;
      -webkit-transition: all 0.3s linear 0s;
      transition: all 0.3s linear 0s;
      border-radius: 0 0 10px 10px;
      text-align: left;
      width: 250px;
      position: absolute;
      box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    }
    
    ul.nav li .dropdown li{
      padding: 10px 15px 10px 15px;
      border-bottom: 1px solid #f2f2f2;
      width: 100%;
      
    ul.nav li .dropdown li:last-child{
      border-bottom: none;
    }
    }
    
    ul.nav li .dropdown a{
      font-weight: 600;
      text-transform: capitalize;
    }
  
    ul.nav li .dropdown ul li{
      color: v;
    }
  
    ul.nav li .dropdown li:hover,  ul.nav li .dropdown li.active{
      background-color: #085291;
    }
  
    ul.nav li .dropdown li:hover a,  ul.nav li .dropdown li.active a{
      color: #ffc600;
    }
    
    ul.nav li .dropdown a span{
      padding-right: 15px;
    }
    
/* header css end */


/* menu css start */

.mobile-header{
  background-color: #085291;
  padding: 10px 20px;
}

.mobile-logo img{
  width: 60px;
}

.mobile-header{
  display: none;
}

.menu_side_wrap {
  position: absolute;
  z-index: 20000;
  right: 20px;
  top: 15px;
  width: 60px;
}

.menu_side_inner{
  color: #ffffff;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu_mobile_button_text {
  border: none;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.menu_side_wrap .menu_mobile_button {
  display: block;
  right: 50%;
  top: 10px;
  font-size: 30px;
  z-index: 1;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 100%;
  height: auto;
  cursor: pointer;
  position: absolute;
}

.menu_mobile_button {
  color: #ffffff;
}

.menu_side_wrap .menu_mobile_button:hover{
  color: #ffc600;
}

.menu_mobile_overlay {
  display: none !important;
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 20px;
  background-color: rgba(0,0,0,0.8);
}

.menu_mobile {
  position: fixed;
  z-index: 100002;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  margin-left: -300px;
  -webkit-transition: margin ease .3s;
  -moz-transition: margin ease .3s;
  -ms-transition: margin ease .3s;
  -o-transition: margin ease .3s;
  transition: margin ease .3s;
}
/* 
.opened {
  margin-right: 0 !important;
} */

.menu_mobile_inner {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  background-color: #085291;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu_mobile_inner a {
  color: #ffffff;
}

.icon-cancel{
  color: #ffffff;
}

.menu_mobile_close {
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  height: 1em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25em;
  margin: 2em 2em 0 0;
}

.menu_mobile_close::before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
  border-color: #ffffff;
}

.menu_mobile_close::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #fff;
  transform: rotate(-45deg);
  border-color: #ffffff;
}

.accordion-item .accordion-title{
  position: relative;
  padding: 10px 30px 10px 0;
  font-size: 13px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.accordion-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
  padding: 0;
  margin: 0;
}

.accordion-content.active{
  max-height: auto;
}

.accordion-content ul li{
  list-style-type: none;
  padding: 3px 0px;
}

.accordion-content ul li:hover a, .accordion-content ul li.active a{
  color: #ffc600;
}

.accordion-item.active .accordion-content{
  /* line-height: 24; */
  font-size: 13px;
  text-transform: uppercase;
}

.accordion-item .accordion-title::before{
  content: "+";
  position: absolute;
  right: 10px;
  font-size: 17px;
  top: 7px;
}

.accordion-item.active .accordion-title::before{
  content: "-";
  font-size: 17px;
  top: 7px;
}

.gallery::before{
  display: none;
}

/* menu css end */


/* news section css start */

.marquee-container {
   width: 100%;
   background-color: #b8ccff;
   padding: 8px 0;
 }

 .marquee-content {
   display: flex;
   animation: marquee 50s linear infinite;
 }

 .marquee-item {
   flex: 0 0 auto;
   padding: 0 15px;
   font-size: 15px;
   color: #191919;
 }

 .marquee-item a img{
  margin-right: 5px;
  width: 50px;
 }

 .marquee-item a{
  text-transform: uppercase;
  color: #191919;
  font-weight: 600;
 }

 .marquee-item a:hover{
  color: inherit;
  text-decoration: underline;
 }

 @keyframes marquee {
   0% {
     transform: translateX(100%);
   }

   100% {
     transform: translateX(-100%);
   }
 }

 /* Optional: Pause animation on hover */
 .marquee-container:hover .marquee-content {
   animation-play-state: paused;
 }

/* news section css end */


/* banner css start */


.carousel-item img{
    width: 100%;
}

.carousel, #header{
    position: relative;
}

.carousel-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.9) 100%);
}

.carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        opacity: .5;
        transition: opacity .6s ease;
        position: relative;
    }

    .carousel-indicators .active{
        opacity: 1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
        border: none;
        border-radius: 50%;
        background: transparent;
    }


/* banner css end */


/* about content css start */

.about-content, .principal-content{
  padding: 80px 0px 80px 0px;
  position: relative;
  background-color: #f8fbff;
}
.principal-desc{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-desc p, .principal-desc p{
  font-size: 18px;
}

.about-img, .principal-img{
  height: 100%;
}

.about-img img, .principal-img img{
  width: 100%;
  height: 100%;
}


.fill-btn{
  background-color: #085291;
  border: 1px solid #085291;
  padding: 15px 30px;
  color: #fff;
  display: flex;
  width: max-content;
  text-decoration: none;
  border-radius: 50px;
  transition: all .3s ease;
}

.fill-btn:hover{
  background-color: #fff;
  color: #085291;
  text-decoration: none;
}

/* about content css end */

/* facilities section css start */

.facilities-inner{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  align-items: flex-end;
}


.facility-item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.facility-desc{
  background-color: #f2f2f2;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* facilities section css end */


/* card css start */

.cards-content{
  padding: 80px 0px;
}

.card {
  min-height: 350px;
  max-height: 500px;
}

.card-body {
  padding: 0px 0px;
}

.cards-title{
  background-color: #b8ccff;
  padding: 10px;
  color: #080A12;
  text-align: center;
  border-radius: 8px 8px 0px 0px;
}

.cards-title h4{
  font-family: 'Libre Baskerville', sans-serif;
  margin: 0;
}

.cards-icon{
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.panel-default {
  border: none;
}

.panel-group {
  position: absolute;
  bottom: -1px;
  margin-bottom: 0px;
  width: 100%;
}

.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
  border: none;
}

.panel-group .panel {
  border-radius: 0px 0px 8px 8px;
  background-color: #085291;
}

.panel-body {
  min-height: 250px;
  overflow: auto;
  padding: 20px 25px 10px;
  color: #fff;
  text-align: justify;
  font-weight: 500;
}

.panel-default>.panel-heading {
  background-color: transparent;
}

.panel-heading {
  text-align: center;
  padding: 0px;
  height: 35px;
  border: none;
}

.panel-button {
  padding: 14px;
  background: #ffc600;
  border-radius: 100%;
  position: relative;
  top: -13px;
  z-index: 9999;
}

.panel-button .plus-minus:before{
  content: "\f067";
  font-family: "FontAwesome";
}

.panel-button[aria-expanded="true"] .plus-minus:before{
  content: "\f068";
  font-family: "FontAwesome";
}



a.panel-button:hover, a.panel-button:focus {
  text-decoration: none;
}

a.panel-button {
  font-size: 16px;
  color: #085291;
}

.card-section {
  width: 100%;
overflow: hidden;
}

/* card css end */


/* visit section css start */

.visit-section{
  background-image: url('images/college.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 30px 0px;
  position: relative;
}

.visit-section-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 100%, rgba(0,0,0,0.7) 100%);
}

.visit-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Libre Baskerville', sans-serif;
  z-index: 1;
  position: relative;
}

.outline-btn{
  text-decoration: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid #fff;
  font-family: 'Poppins', sans-serif;
  transition: all .3s ease;
}

.outline-btn:hover{
  background-color: #fff;
  color: #085291;
  text-decoration: none;
}

/* visit section css end */

/* vector section css start */

.vector-section{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  align-content: center;
  justify-content: center;
}

.vector-item{
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.vector-item h6{
  font-weight: 600;
  font-family: 'Libre Baskerville', sans-serif;
}

.vector-item img{
  width: 120px;
  padding: 15px;
  border: 1px solid #f2f2f2;
}

/* vector section css end */



/* footer css start */

#footer{
    background-color: #085291;
    color: #fff;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-inner img{
    width: 100px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item a{
    color: #fff;
    text-decoration: none;
}

.footer-item a:hover{
    text-decoration: underline;
}

.footer-item ul li span{
    margin-right: 10px;
}

.footer-item ul li{
    padding: 10px 0px;
}

.lower-footer{
    padding: 20px 0px;
    border-top: 2px dashed #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-footer p{
    color: #fff;
    margin: 0;
}

/* footer css end */

  /* fade effects */
  
  .fadeInUp {
      animation-name: fadeInUp;
  }
  
  .animated.animated-slow {
      animation-duration: 2s;
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  .animated {
    animation-fill-mode: both;
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  @keyframes fadeInUp {
      0% {
          opacity: 0;
          transform: translate3d(0,100%,0);
      }
      
      100% {
          opacity: 1;
          transform: none;
      }
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
  }
  
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%,0,0);
      transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
  }
  

  @media screen and (max-width:768px) {
    .upper-header, .lower-header{
        display: none;
    }

    .mobile-header{
        display: block;
    }
    
    p, .about-desc p, .principal-desc p{
      font-size: 14px;
      text-align: justify;
    }

    .banner-inner-content h1 {
      font-size: 26px;
    }

    .about-content, .principal-content, .cards-content{
      padding: 50px 30px;
    }

    .about-content .row{
      flex-direction: column-reverse;
      gap: 20px;
    }

    .card{
      min-height: 330px;
    }

    .cards-icon img{
      width: 90px;
    }

    .panel-body{
      font-size: 13px;
      min-height: 200px;
    }

    .panel-heading{
      height: 25px;
    }
    
    .panel-button{
      padding: 10px;
    }

    .footer-links h4 {
      margin-bottom: 10px;
  }

  .footer-inner .container{
    padding: 0px 15px;
  }

  .footer-inner .row{
    gap: 20px;
  }
    
    .lower-footer{
      flex-direction: column;
      gap: 10px;
      font-size: 12px;
    }
  }


  @media screen and (max-width:450px) {
    .upper-header, .lower-header{
        display: none;
    }

    .mobile-header{
        display: block;
    }
    
    p, .about-desc p, .principal-desc p{
      font-size: 14px;
      text-align: justify;
    }

    .banner-inner-content h1 {
      font-size: 26px;
    }

    .about-content, .principal-content, .cards-content{
      padding: 50px 30px;
    }

    .about-content .row{
      flex-direction: column-reverse;
      gap: 20px;
    }

    .card{
      min-height: 330px;
    }

    .card-section .inner .row{
      gap: 20px;
    }

    .cards-icon img{
      width: 90px;
    }

    .panel-body{
      font-size: 13px;
      min-height: 200px;
    }

    .panel-heading{
      height: 25px;
    }
    
    .panel-button{
      padding: 10px;
    }

    .footer-links h4 {
      margin-bottom: 10px;
  }

  .footer-inner .container{
    padding: 0px 15px;
  }

  .footer-inner .row{
    gap: 20px;
  }
    
    .lower-footer{
      flex-direction: column;
      gap: 10px;
      font-size: 12px;
    }
  }